node_modules
.env
dist
.parcel-cache
server/index.js
server/db.js
server/dev.ts
server/models/connection.js
server/models/index.js
server/models/user.js
server/controllers/users-controllers.js
server/sync.ts